.centered-login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.credential-input {
    margin-bottom: 20px;
    height: 40px;
    width: 250px;
    padding-left: 10px;
    border-style: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    /* Google Font  */
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(230, 230, 230, 0.7);
    color: rgb(199,106,255);
}

.credential-input::placeholder {
    color: gray;
}

.sign-up-button {
    text-decoration: none;
}

.sign-up-button:hover {
    font-weight: bold;
}
