.loadingContainer {
    display: flex;
    flex-direction: column;
    /* Set flex direction to column */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    text-align: center;
}

.body {
    flex: 1; /* Allow the body to grow to fill available space */
    padding-bottom: 60px; /* Ensure space for buttons at the bottom */
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px; /* Adjust padding as needed */
    background-color: white; /* Ensure buttons are visible */
    border-top: 1px solid #ccc; /* Optional: add a border above buttons */
  }



