
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* Google Font  */
  font-family: 'Work Sans', sans-serif;
  color: white;
  background: rgb(199,106,255);
  background: linear-gradient(156deg, rgba(199,106,255,1) 0%, rgba(168,33,250,1) 34%, rgba(205,124,255,1) 80%, rgba(209,140,251,1) 100%);
}
