
html {
  margin: 20px;
  height: 100%;
  
}

body {
  /* Google Font  */
  font-family: 'Work Sans', sans-serif;
  color: black;
}

h1 {
  color: rgb(199,106,255);
  font-size: 48px;
}

h2 {
  color: rgb(199,106,255);
}

p {
  font-size: 20px;
}

